.main-icon{
    width: 80px; 
    height: 80px
}

.content-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
}

.validation-errors{
    margin-left: 15px;
    margin-top: 5px;
    color: #84a3b5;
}