<ion-header>
  <ion-toolbar color= "primary">
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 style="margin: 15px;"> {{ category.name }} </h2>
      </ion-col>
    </ion-row>
    <ion-item *ngFor="let p of Products" style="margin-bottom: 10px;">
      <ion-row>
        <ion-col>
          <ion-thumbnail>
            <img routerLink="/product-details" (click)="getSelectedProduct(p)" src="{{p.product.imageUrl[0].imageUrl}}">
          </ion-thumbnail>
        </ion-col>
        <ion-col style="text-align: center;">
          <div class="product-name">
            <h2>
              {{ p.product.productName }}
            </h2>
          </div>
        </ion-col>
        <div class="bottomRightPrice"> 
          <ion-col>
            <ion-text class="priceText" *ngIf="p.price == p.price-(p.discount/100)"> {{ p.price }}$ </ion-text>
            <ion-text class="priceText discount" *ngIf="p.price != p.price-(p.discount/100)"> {{ p.price }}$ </ion-text>
          </ion-col>
        </div>
        <div class="bottomRightCart">
          <ion-col>
            <ion-icon name="cart" class="cart"></ion-icon>
          </ion-col>
        </div>
      </ion-row>
    </ion-item>
  </ion-grid>
</ion-content>
