
ion-thumbnail {
    width: 25%;
    height: 25%;
}

.centering {
    margin-left: auto;
    margin-right: auto;
}

.price{
    position: relative;
    top: 40%;
    left: 15%;
    transform: translate(-90%, -90%);
}

.discount{
    position: relative;
    top: 40%;
    left: 22%;
    transform: translate(-90%, -90%);
    color: goldenrod;
}

.cart{
    padding: 10px;
    position: relative;
    top: 60%;
    transform: translate(-90%, -90%);
}