ion-thumbnail {
    width: 100px;
    height: 100px;
}


.discount{
    color: goldenrod;
}

.cart{
    float:right; 
    padding-left: 10px; 
    padding-bottom: 10px;
    width: 25px; 
    height: 25px;
}

.product-name{
    display:flex;
    justify-content:center;
    align-items:center;
    width:140px;
    height:100px;
}

.product-image{
    display:flex;
    justify-content:center;
    align-items:center;
}
.bottomRightCart{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.bottomRightPrice{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    width: 45px;
    height: 100px;
}
