<ion-header>
  <ion-toolbar color= "primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
    <ion-icon class= "header" name="person-add" slot="end"></ion-icon>
    <!-- <ion-icon class= "header icon " src="../../assets/mainIcon.svg"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="margin: 20px;"> {{ CategoryName }} </h2>
  <ion-item *ngFor="let p of Products">
    <ion-thumbnail slot="start">
      <img routerLink="/product-details" (click)="getSelectedProduct(p)" src="{{p.imageUrl}}">
    </ion-thumbnail>
    <h2 class="centering" routerLink="/product-details" (click)="getSelectedProduct(p)"> {{ p.productName }} </h2>
    <p class="price" *ngIf="p.price == p.price-(p.discount/100)"> {{ p.price }}$</p>
    <p *ngIf="p.price != p.price-(p.discount/100)" class="discount"> {{ p.price-((p.discount/100)*p.price) }}$</p>
    <ion-icon name="cart" color="primary" class="cart"></ion-icon>
  </ion-item>
</ion-content>
