<ion-header>
  <ion-toolbar color= "light">
    <app-light-header></app-light-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="position: relative; top: 10%;">
    <img class="product-image" src="{{Product.imageUrl[0].imageUrl}}"/>
    <h1 class="product-name"> {{Product.name}} </h1>
  </div>
  <div class="footer">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <div class="details">
            {{Product.description}}
          </div>
        </ion-col>
        <ion-col size="3">
          <h1 style="font-weight: bold;">
            {{Product.price}}$
          </h1>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 20px">
        <ion-col size="12">
          <ion-button expand="full" color="tertiary">Add to Cart</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>  
    
  </div>

</ion-content>
