
.product-image{
    width: 240px;
    height: 240px;
}


.footer{
    background-color: #044C75;
    width: 100%; 
    height: 190px;
    position: fixed;
    bottom: 0%;
    color: white;
    margin-top:10px;
}

.details{
    position: relative;
    top: 10%;
    height: 105px;
    padding: 20px;
    overflow-y: scroll;
}

.centered-content-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
}