
.product-image{
    position: relative; 
    left: 21%;
    width: 240px;
    height: 240px;
}

.product-name{
    position: relative; 
    left: 45%;
}

.footer{
    background-color: #044C75;
    width: 100%; 
    height: 200px;
    position: absolute;
    bottom: 0%;
    color: white;
}

.details{
    position: relative;
    top: 10%;
    padding: 20px;
}
