.footer{
    width: 100%; 
    position: fixed;
    bottom: 0%;
}

.alerting-message{
    font-size: 90px;
    margin: 20px;
    color:#84a3b5;
    display:flex;
    justify-content:center;
    align-items:center;
}