<ion-header>
  <ion-toolbar color= "light">
    <app-light-header></app-light-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="display:flex;justify-content:center;align-items:center;width:100%;height:90%;">
    <ion-label *ngIf="SelectedGrade == null" class="alerting-message">
      Please<br /> select <br /> a grade
    </ion-label>
    <div *ngIf="SelectedGrade != null">
      <div *ngFor="let p of Products" class="content">
        <ion-label color="medium">
          {{ p.classifiedProduct.quantity }}
        </ion-label>
        <ion-label style="margin-left: 5px;">
          {{ p.classifiedProduct.product.productName }}
        </ion-label>
      </div>
      <div class="bottom-left"> Total price: {{ TotalPrice }}$</div>
      <div class="fab-container">
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button>
            <ion-icon name="cart"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
      
    </div>
  </div>
  <ion-segment scrollable class="footer">
    <ion-segment-button *ngFor="let g of Grades" (click)="GetSelectedGrade(g)">
      <ion-label>{{ g.grade }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
