.footer{
    width: 100%; 
    position: fixed;
    bottom: 0%;
}

.alerting-message{
    font-size: 90px;
    margin: 20px;
    color:#84a3b5;
    display:flex;
    justify-content:center;
    align-items:center;
}

.content{
    display:flex;
    align-items:center;
    font-size: 40px;
    font-weight: bold;
    overflow-y: scroll;
}

.fab-container{
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.bottom-left{
    position: absolute;
    bottom: 13%;
    left: 10%;
    font-size: large;
    font-weight: bold;
}