<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back" slot="start" routerLink="/home" routerDirection="backward" class="back-icon"> </ion-icon>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div style="width: 300px;">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item *ngIf="User.firstName != '' ">
          <ion-label position="fixed" class="attribute">First Name</ion-label>
          <ion-label type="text" class="value"> {{ User.firstName }}</ion-label>
        </ion-item> 

        <ion-item *ngIf="User.lastName != '' ">
          <ion-label position="fixed"  class="attribute">Last Name </ion-label>
          <ion-label type="text"  class="value"> {{ User.lastName }}</ion-label>
        </ion-item>

        <ion-item *ngIf="User.email != '' ">
          <ion-label position="fixed"  class="attribute">Email</ion-label>
          <ion-label type="email" class="value"> {{ User.email }} </ion-label>
        </ion-item>

        <ion-item *ngIf="User.phoneNumber != '' ">
          <ion-label position="fixed"  class="attribute">Phone number</ion-label>
          <ion-label type="number" class="value"> {{ User.phoneNumber }}</ion-label>
        </ion-item>

        <ion-item *ngIf="User.phoneNumber2 != '' ">
          <ion-label position="fixed" class="attribute">Phone number 2</ion-label>
          <ion-label type="number"> {{ User.phoneNumber2 }}</ion-label>
        </ion-item>

        <ion-item *ngIf="
          User.addresses[0].streetDetails != ''
          || User.addresses[0].building != 0
          || User.addresses[0].apartment != 0
          || User.addresses[0].city != '' 
          || User.addresses[0].state != ''
          || User.addresses[0].specialMarque != ''">
          <ion-list>
            <ion-label position="fixed" class="attribute">Address</ion-label>
            <div class="addresses"> 
              <ion-item *ngIf="User.addresses[0].streetDetails != '' ">
                <ion-label position="fixed" class="attribute">Street details</ion-label>
                <ion-label class="value"> {{ User.addresses[0].streetDetails }}</ion-label>
              </ion-item>
              <ion-item *ngIf="User.addresses[0].building != 0 ">
                <ion-label position="fixed" class="attribute">Building</ion-label>
                <ion-label class="value"> {{ User.addresses[0].building }} </ion-label>
              </ion-item>
              <ion-item *ngIf="User.addresses[0].apartment != 0 ">
                <ion-label position="fixed" class="attribute">Apartment</ion-label>
                <ion-label class="value"> {{ User.addresses[0].apartment }} </ion-label>
              </ion-item>
              <ion-item *ngIf="User.addresses[0].city != '' ">
                <ion-label position="fixed" class="attribute">City</ion-label>
                <ion-label class="value">{{ User.addresses[0].city }}</ion-label>
              </ion-item>
              <ion-item *ngIf="User.addresses[0].state != '' ">
                <ion-label position="fixed" class="attribute">State</ion-label>
                <ion-label class="value">{{ User.addresses[0].state }}</ion-label>
              </ion-item>
              <ion-item *ngIf="User.addresses[0].specialMarque != '' ">
                <ion-label position="fixed" class="attribute">Special Marque</ion-label>
                <ion-label class="value">{{ User.addresses[0].specialMarque }}</ion-label>
              </ion-item>
            </div>
          </ion-list>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
