ion-icon {
  &.header {
    width: 30px;
    height: 30px;
    margin: 20px;
  }
}

ion-card-title{
  text-transform:capitalize;
}

ion-card {
  width: 50%;
  display: inline-block;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}