<ion-header>
  <ion-toolbar color= "primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
    <ion-icon class= "header" name="person-add" slot="end"></ion-icon>
    <!-- <ion-icon class= "header icon " src="../../assets/mainIcon.svg"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="margin: 20px;"> Best Seller </h2>
  <div class="scrolling-wrapper">
    <ion-card *ngFor= "let bs of BestSeller">
      <ion-card-header>
        <img src="{{bs.imageUrl[0].imageUrl}}"/>
        <ion-card-title>
          {{bs.productName}}
          <ion-text style="float:right;"> {{bs.price}}$ </ion-text>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="container">
    <ion-img src="../../assets/packages.jpg" class="centering"></ion-img>
    <ion-text style="text-transform: uppercase;" class="centeredVertically bigWithShadow" color="primary">Enjoy<br> pre-prepared <br> packages</ion-text>
  </div>
  
  <h2 style="margin: 20px;"> Offers </h2>
  <div class="scrolling-wrapper">
    <ion-card *ngFor= "let bs of BestSeller">
      <ion-card-header>
        <img src="{{bs.imageUrl[0].imageUrl}}"/>
        <ion-card-title>
          {{bs.productName}}
          <ion-text style="float:right;" color="success"> {{bs.price-((bs.discount/100)*bs.price)}}$ </ion-text>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <h2 style="margin: 20px;"> Categories </h2>
  <div class="scrolling-wrapper">
    <ion-card *ngFor= "let c of Categories">
      <ion-card-header>
        <img src="{{c.imageUrl}}"/>
        <ion-card-title>
          {{c.categoryName}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
