
ion-card-title{
  text-transform:capitalize;
}

ion-card {
  width: auto;
  display: inline-block;
  margin-bottom: 20px;
}

.card-image{
  width: 140px;
  height: 140px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.centering {
  margin-left: auto;
  margin-right: auto;
}

.centeredVertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
}

.bigWithShadow{
  text-shadow: 1px 1px black;
  font-size: 40px;
  font-weight: bold;
}

.categoryCard{
  width: 40%;
  height: 40%;
  margin-left:20px;
  margin-bottom: 20px;
}

.cart{
  float:right; 
  padding-left: 10px; 
  width: 25px; 
  height: 25px;
}

.price{
  float:right; 
  margin-left: 10px;
}