<ion-header>
  <ion-toolbar color= "primary">
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="margin: 20px;"> Best Seller </h2>
  <div class="scrolling-wrapper">
    <ion-card *ngFor= "let bs of BestSeller">
      <ion-card-header>
        <img routerLink="/product-details" (click)="getSelectedProduct(bs)" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ5_7MuVWiQXSVNwkXwQdQ2AaAlD02oNtbYnoGcPbY0ptjAgY0G" class="card-image centering"/>
        <ion-card-title routerLink="/product-details" (click)="getSelectedProduct(bs)">
          {{bs.product.productName}}
          <ion-icon name="cart" class="cart"></ion-icon>
          <ion-text *ngIf="bs.price == bs.price-(bs.discount/100)" class="price"> {{bs.price}}$ </ion-text>
          <ion-text *ngIf="bs.price != bs.price-(bs.discount/100)" style="color: goldenrod;" class="price"> 
            {{bs.price-((bs.discount/100)*bs.price)}}$ 
          </ion-text>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="container">
    <ion-img src="../../assets/packages.jpg" class="centering" (click)="openPopover()"></ion-img>
    <ion-text style="text-transform: uppercase;" class="centeredVertically bigWithShadow" color="primary" (click)="openPopover()">
      Enjoy<br> pre-prepared <br> packages
    </ion-text>
  </div>
  
  <h2 style="margin: 20px;"> Offers </h2>
  <div class="scrolling-wrapper">
    <ion-card *ngFor= "let o of Offers">
      <ion-card-header>
        <img routerLink="/product-details" (click)="getSelectedProduct(o.offer.product)" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ5_7MuVWiQXSVNwkXwQdQ2AaAlD02oNtbYnoGcPbY0ptjAgY0G" class="card-iamge"/>
        <ion-card-title routerLink="/product-details" (click)="getSelectedProduct(o.offer.product)">
          {{o.offer.product.productName}}
          <ion-icon name="cart" class="cart"></ion-icon>
          <ion-text style="color: goldenrod;" class="price"> 
            {{o.price-((o.offer.discount/100)*o.price)}}$ 
          </ion-text>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <h2 style="margin: 20px;"> Categories </h2>
  <div class="scrolling-wrapper">
    <ion-card *ngFor= "let c of Categories">
      <ion-card-header>
        <img src="{{c.imageUrl}}" class="card-image"/>
        <ion-card-title>
          {{c.categoryName}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
