<ion-header>
  <ion-toolbar color= "primary">
    <ion-icon class= "header" name="menu" slot="start"></ion-icon>
    <ion-searchbar></ion-searchbar>
    <ion-icon class= "header" name="person-add" slot="end"></ion-icon>
    <!-- <ion-icon class= "header icon " src="../../assets/mainIcon.svg"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="margin: 20px;"> Best Seller </h2>
  <ion-card>
    <ion-card-header>
      <img src="{{BestSeller[1].imageUrl[0].imageUrl}}"/>
      <ion-card-title>
        {{BestSeller[0].productName}}
        <ion-text *ngIf = "BestSeller[0].discount" style="float:right;"> {{BestSeller[0].price}}$ </ion-text>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
