<ion-list no-padding no-margin>
    <ion-list-header color="primary">
      <h3>
        Grade Levels
      </h3>
    </ion-list-header>

    <ion-item>
      <ion-grid>
        <ion-row *ngFor= "let gradeLevel of GradeLevels">
          <ion-col>
            <ion-button 
              expand="full" 
              color="light" 
              (click)="getSelectedLevel(gradeLevel)"
            >{{ gradeLevel.level }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

</ion-list>
