
.cart{
    float:right; 
    padding-left: 10px; 
    padding-bottom: 10px;
    width: 25px; 
    height: 25px;
}
ion-thumbnail {
    width: 100px;
    height: 100px;
}

.product-name{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left: 5px;
    width:115px;
    height:100px;
}

h2{
    margin:auto ;
}

.bottomRightCart{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.bottomRightPrice{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    width: 30px;
    height: 100px;
}

.priceText{
    float:right; 
    margin-bottom: 10;
}
