<ion-header>
  <ion-toolbar color= "primary">
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 style="margin: 15px;">
          Offers
        </h2>
      </ion-col>
    </ion-row>
    <ion-item  *ngFor="let o of Offers" style="margin-bottom: 10px;">
      <ion-row>
        <ion-col>
          <ion-thumbnail>
            <img 
              routerLink="/product-details" 
              (click)="getSelectedProduct(o)" 
              src="{{ o.offer.product.imageUrl[0].imageUrl }}"
            >
          </ion-thumbnail>
        </ion-col>
        <ion-col style="text-align: center;">
          <div class="product-name">
            <h2 routerLink="/product-details" (click)="getSelectedProduct(o)">
              {{o.offer.product.productName}}
            </h2>
          </div>
        </ion-col>
        <div class="bottomRightPrice"> 
          <ion-col>
            <ion-text class="priceText"> {{o.price}}$ </ion-text>
          </ion-col>
        </div>
        <div class="bottomRightCart">
          <ion-col>
            <ion-icon name="cart" class="cart"></ion-icon>
          </ion-col>
        </div>
       
      </ion-row>
    </ion-item>
  </ion-grid>
</ion-content>
