<ion-header>
  <ion-toolbar color= "primary">
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 style="margin: 20px;">
          Offers
        </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let o of Offers" size="6">
        <ion-card>
          <ion-card-header>
            <img src="{{o.imageUrl[0].imageUrl}}"/>
            <ion-card-title>
              {{o.productName}}
              <ion-icon name="cart" class="cart"></ion-icon>
              <ion-text style="float:right;" color="success"> {{o.price - ((o.discount/100)-o.price)}}$ </ion-text>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
